* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(105, 19, 19);
}

h1,
h4,
#buttons {
    text-align: center;
    color: whitesmoke;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: rgba(222, 235, 232, 0.849);
    border: 2px solid rgba(0, 0, 0, 0.315);
    border-radius: 3px;
}

.grid-block {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.010);
}

.colour_block {
    background-color: rgb(85, 85, 85);
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1.1rem;
    border: none;
    border-radius: 3px;
    transition: background-color 0.2s ease-in-out;
}

.blue-btn {
    background-color: rgb(76, 138, 253);
    color: white;
}

.blue-btn:hover {
    background-color: rgb(118, 165, 252);;
}

.orange-btn {
    background-color: rgb(255, 190, 69);
}

.orange-btn:hover {
    background-color: rgb(253, 207, 122);
}

.knob {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 1px solid rgb(37, 37, 37);
    /* background-color: rgb(165, 165, 165); */

    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(190,190,190,1) 0%, rgba(240,240,240,1) 100%);
}

.knob-inner {
    position: relative;
    height: 90px;
    width: 90px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.945);
}

.knob-mark {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 30px;
    border-radius: 15px 15px 5px 5px;
    background-color: rgba(36, 36, 36, 0.719);
}

#knobs {
    display: flex;
    margin: 35px auto;
    justify-content: space-between;
    max-width: 1200px;
}